@{
    ViewData["Title"] = "All Cards";
}
<style>
    tr:nth-child(even) {
        background: #EEE
    }

    tr:nth-child(odd) {
        background: #FFF
    }
    td {
        margin:0px 5px;
    }
</style>

<h2>@ViewData["Title"]</h2>
<div id="app">
    <div>
        <h3>Type Filter</h3>
        <label>Assets</label>
        <input type="checkbox" id="assetFilter" value="Asset" v-model="typeFilter" />
        <label>Crew</label>
        <input type="checkbox" id="crewFilter" value="Crew" v-model="typeFilter" />
        <label>Events</label>
        <input type="checkbox" id="eventFilter" value="Event" v-model="typeFilter" />
        <label>Upgrades</label>
        <input type="checkbox" id="upgradeFilter" value="Upgrade" v-model="typeFilter" />
        <label>Fleets</label>
        <input type="checkbox" id="fleetFilter" value="Fleet" v-model="typeFilter" />
        <label>Strategies</label>
        <input type="checkbox" id="strategyFilter" value="Strategy" v-model="typeFilter" />
        <label>Capital Ships</label>
        <input type="checkbox" id="capitalShipFilter" value="Capital Ship" v-model="typeFilter" />
        <label>Locations</label>
        <input type="checkbox" id="locationFilter" value="Location" v-model="typeFilter" />
    </div>
    <div>
        <h3>Faction Filter</h3>
        <label>Neutral</label>
        <input type="checkbox" id="neutralFilter" value="Neutral" v-model="factionFilter" />
        <label>Synedrion</label>
        <input type="checkbox" id="synedrionFilter" value="Synedrion" v-model="factionFilter" />
        <label>Independents</label>
        <input type="checkbox" id="independentsFilter" value="Independents" v-model="factionFilter" />
        <label>TechnoZealots</label>
        <input type="checkbox" id="technoZealotsFilter" value="TechnoZealots" v-model="factionFilter" />
        <label>No Faction</label>
        <input type="checkbox" id="noneFilter" value="None" v-model="factionFilter" />
    </div>
    <table>
        <tr>
            <td><strong>Id</strong></td>
            <td><strong>Name</strong></td>
            <td><strong>Faction</strong></td>
            <td><strong>Type</strong></td>
            <td><strong>Icons</strong></td>
            <td><strong>Cost</strong></td>
            <td><strong>Burn</strong></td>
        </tr>
        <tr v-for="card in cards" v-if="filterByType(card) && filterByFaction(card)">
            <td><span>{{card.id}}</span></td>
            <td><a v-bind:href="card.detailsLink">{{card.name}}</a><span v-if="card.title"><em> {{card.title}}</em></span></td>
            <td><span v-if="card.faction">{{card.faction[0]}}</span></td>
            <td><span v-if="card.type">{{card.type}}</span></td>
            <td><span v-if="card.icons">{{join(firstLetters(card.icons), ' ')}}</span></td>
            <td><span v-if="card.cost">{{card.cost}}</span></td>
            <td><span v-if="card.burn">{{card.burn}}</span></td>
        </tr>
    </table>
    @*<div>
        <p v-for="card in cards" v-if="filterByType(card) && filterByFaction(card)">
            <a v-bind:href="card.detailsLink">{{card.name}}</a>
            <span v-if="card.title"><em> {{card.title}}</em></span>
            <span> [{{card.id}}]</span>
        </p>
    </div>*@
</div>
<script src="~/lib/vue/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/vue.resource/1.2.1/vue-resource.min.js"></script>
<script>
    const v = new Vue({
        el: '#app',
        data: {
            cards: [],
            typeFilter: ['Asset', 'Crew', 'Event', 'Upgrade', 'Fleet', 'Strategy', 'Capital Ship', 'Location'],
            factionFilter: [ 'Neutral','None','Synedrion','Independents','TechnoZealots' ]
        },
        methods: {
            filterByType: function (card) {
                return this.typeFilter.some(function (t) {
                    return t === card.type;
                });
            },
            filterByFaction: function (card) {
                if (this.factionFilter.indexOf('None') != -1 && !card.faction)
                    return true;
                return this.factionFilter.some(function (f) {
                    return f === card.faction;
                });
            },
            join: function (strings, joiner) {
                var result = strings[0];
                for (var i = 1; i < strings.length; i++) {
                    result = result + joiner + strings[i];
                }
                return result;
            },
            firstLetters: function (strings) {
                return strings.map(function (el) {
                    return el[0];
                });
            }
        },
        created: function () {
            // GET /someUrl
            var vue = this;
            Vue.http.get('/api/CardData')
                .then(response => {

                    // get body data
                    vue.cards = response.body;
                    for (card of vue.cards) {
                        card.detailsLink = "/cards/Details/" + card.id;
                    }

                }, response => {
                    // error callback
                });
        }
    })
</script>


